log.txt
game/saves/persistent
*.save
game/cache/bytecode-312.rpyb
game/cache/py3analysis.rpyb
game/cache/screens.rpyb
game/cache/shaders.txt
game/cache/bytecode-39.rpyb
game/saves/navigation.json
game/saves/persistent
log.txt
errors.txt
game/gui.rpy
